.Link {
    /* width: fit-content;
    height: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.root {
    /* width: fit-content;
    height: fit-content; */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 191px;
    border: 1px solid;
    border-color: #898989;
    border-radius: 10px;
    background-color: var(--tg-theme-bg-color);
    /* background-color: var(--tg-theme-secondary-bg-color); */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
    text-decoration: none;
}

.ImageBox {
    width: 100%;
    height: 71px;
    /* max-height: 91px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    /* object-fit: cover; */
    flex-grow: 1;
    background-color: #ffffff;
    
}

.Image {
    /* width: 90%; */
    max-width: 90%;
    object-fit: contain;
      
}

.Price {
    color: var(--tg-theme-text-color);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.Name {
    color: var(--tg-theme-text-color);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 7px 9px;
    /* flex-grow: 1; */
    max-height: 3em;
    overflow: hidden;
    text-align: center;
    /* line-height: 1.8em; */
}

.BuyButton {
    background-color: #f5d098;
    border-radius: 5px;

    cursor: pointer;
    transition: color 500ms ease;

    color: #000000;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

    margin: 7px 29px;
    padding: 5px 10px;
    text-align: center;
    justify-self: end;
    /* align-self: flex-end; */

    transition: 0.3s ease-in-out;
}

.BuyButton:hover {
    /* background-color: var(--tg-theme-secondary-bg-color); */
}

.BuyButton:active {
    transform: scale(0.9);
}

.BuyButton1::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;  
    border-radius: 10px;
    height: 35px;
    width: 90px;
    background: #54dc48;
    animation: pulse 1.4s infinite ease-out;
    /* animation-iteration-count: 1; */
}

.BuyButton2::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;  
    border-radius: 10px;
    height: 35px;
    width: 90px;
    background: #d64925;
    animation: pulse 1.4s infinite ease-out;
    /* animation-iteration-count: 1; */
}

@keyframes pulse {
    to {
        transform: scale(1.4);
        opacity: 0;
    }
}