.Link {
    /* width: fit-content;
    height: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.root {
    /* width: fit-content;
    height: fit-content; */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 191px;
    border: 1px solid;
    border-color: #898989;
    border-radius: 10px;
    background-color: var(--tg-theme-bg-color);
    /* background-color: var(--tg-theme-secondary-bg-color); */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
    text-decoration: none;
}

.Image {
    width: 100%;
    height: 71px;
    /* max-height: 91px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    flex-grow: 1;
    background-color: #ffffff;
    
}

.Price {
    color: var(--tg-theme-text-color);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.Name {
    color: var(--tg-theme-text-color);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 7px 9px;
    /* flex-grow: 1; */
    max-height: 3em;
    overflow: hidden;
    text-align: center;
    /* line-height: 1.8em; */
}

.BuyButton {
    background-color: #f5d098;
    border-radius: 5px;

    cursor: pointer;
    transition: color 500ms ease;

    color: var(--tg-theme-text-color);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

    margin: 7px 29px;
    padding: 5px 10px;
    text-align: center;
    justify-self: end;
    /* align-self: flex-end; */
}

.BuyButton:hover {
    /* color: #93e411b7; */
}