.root {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #898989;
    border-radius: 10px;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 13px;
    text-decoration: none;
    width: 100%;
    /* background-color: var(--tg-theme-bg-color); */
    /* background-color: var(--tg-theme-secondary-bg-color); */
    /* height: 158px; */
}
  
.textBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tg-theme-text-color);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 7px 0;
    height: 32px;
    text-align: center;
    justify-self: center;
    vertical-align: middle;
    /* white-space: nowrap; */
}

.icon {
    width: 100%;
    /* width: 138px; */
    /* height: 104px; */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}