.root {
    /* position: relative; */
    /* width: fit-content;
    height: fit-content; */
    text-decoration: none;
}

.unnamed6 {
    /* width: 80%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
  
.textBlock {
    /* -webkit-text-stroke: 0.8px #6d3a95; */
    text-shadow: -0.8px 0.8px 0 #6d3a95,
                          0.8px 0.8px 0 #6d3a95,
                         0.8px -0.8px 0 #6d3a95,
                        -0.8px -0.8px 0 #6d3a95;
    align-self: stretch;
    color: #f5d098;
    font-family: "Inter-Bold", Helvetica;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.textBlock2 {
    /* -webkit-text-stroke: 0.6px #6d3a95; */
    text-shadow: -0.6px 0.6px 0 #6d3a95,
                          0.6px 0.6px 0 #6d3a95,
                         0.6px -0.6px 0 #6d3a95,
                        -0.6px -0.6px 0 #6d3a95;
    align-self: stretch;
    color: #f5d098;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;

    white-space: pre-wrap;
    line-height: 30px;
}

.CartButton {
    position: relative;
    /* position: fixed; */
    width: 51px;
    height: 51px;
    color: #000000;
    top: 8%;
    /* float: right; */
    /* cursor: pointer; */
    /* transition: color 500ms ease; */
    /* flex-grow: 1; */
    /* margin-left: 40%; */
}