.root {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    /* width: 100vw; */
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--tg-theme-bg-color);
}

.ItemList {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0 32px;
    margin-bottom: 20px;
    /* height: 246px; */
    overflow-x: hidden;
    overflow-y: auto;

    flex-grow: 1;
}

.OrderBox {
    display: flex;
    flex-direction: column;
    padding: 22px 31px;

    background-color: var(--tg-theme-bg-color);
    /* background-color: var(--tg-theme-secondary-bg-color); */
    border: 1px solid;
    border-color: #898989;
    border-radius: 10px;
    /* height: 229px; */
    margin: 0 32px;
    margin-bottom: 40px;
}

.OrderLabel {
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    color: var(--tg-theme-text-color);
}

.Store {
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    color: var(--tg-theme-hint-color);
}

.Count {
    color: var(--tg-theme-text-color);
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.SumBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;

    color: var(--tg-theme-text-color);
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
}

.OrderInfo {
    margin-right: 50px;
}

.ConfirmButton {
    width: fit-content;
    align-self: center;
    margin-top: 21px;
    padding: 10px 30px;

    background-color: #80bae4;
    border-radius: 5px;

    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.EmptyBox {
    display: flex;
    flex-direction: column;
    /* height: 30%; */
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 70vh;
}

.iconEmpty {
    width: 80%;
    /* height: 30%; */
}

.EmptyLabel {
    color: var(--tg-theme-text-color);
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
}