.ModalRoot {
    height: 100%;
    width: 100%;
    background-color: #0000004c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    /* transform: scale(0); */
    pointer-events: none;
    transition: 0.5s;
}

.ModalRoot.ModalActive {
    opacity: 1;
    pointer-events: all;
    /* transform: scale(1); */
}

.ModalContent {
    padding: 26px 16px;
    background-color: var(--tg-theme-bg-color);
    /* background-color: var(--tg-theme-secondary-bg-color); */
    border-radius: 10px;
    transform: scale(0.5);
    transition: 0.4s all;

    max-height: 80vh;
}

.ModalContent.ContentActive {
    transform: scale(1);
}