.root {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-self: center;
    /* width: 100vw;
    height: 100vh; */
    overflow-x: hidden;
    background-color: var(--tg-theme-bg-color);
}

.Header {
    display: flex;
    margin: 23px 16px;
    justify-content: space-between;
    align-items: center;
}
.Label {
    color: var(--tg-theme-text-color);
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
}

.CatalogLink {
    text-decoration: none;
}

.CatalogButton {
    color: var(--tg-theme-link-color);
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    text-align: right;
}

.OrderList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 32px;
    gap: 13px;
}

.EmptyBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 80%;
    height: 50%;
}

.EmptyLabel {
    color: var(--tg-theme-text-color);
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
}