.root {
    /* position: absolute; */
    /*
    left: 32px;
    top: 165px;
    */
    width: 95px;
    height: 95px;
    display: flex;
    align-items: flex-start;
}
  
.main {
    /* position: relative; */
    /* border-radius: 10px; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSmall {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 0 10%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.textLarge {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

/*
.rectangleHowToUse {
    background-image: radial-gradient(
      ellipse 61.35144503349347px 314.20994204289303px at 32.99998640887112px 36.500004272146874px,
      #6d3a96ff 0%,
      #dc287fff 100%
    );
}

.rectangleLoyalty {
    background-image: radial-gradient(
      ellipse 61.35144503349347px 314.20994204289303px at 32.99998640887112px 36.500004272146874px,
      #6D3A96ff 0%,
      #80BAE4ff 100%
    );
}

.rectangleFAQ {
    background-image: radial-gradient(
      ellipse 61.35144503349347px 314.20994204289303px at 32.99998640887112px 36.500004272146874px,
      #DC287Fff 0%,
      #F5D098ff 100%
    );
}

.text {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 9.5238%;
    right: 1.1905%;
    top: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
}

.textFAQ {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 9.5238%;
    right: 1.1905%;
    top: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
}
*/

.Link {
  /* width: fit-content;
  height: fit-content; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; */
  text-decoration: none;
  /* height: 100%;
  width: 100%; */
}