.Categories {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--tg-theme-bg-color);
}