.root {
    margin: 0 32px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}

.ProducerItems {
    column-count: 2;
    /* column-rule: dotted 1px #333; */
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 19px;
}

.ProducerName {
    color: #000000;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}