.root {
    background-color: '#ffffff';
    border: 1px solid;
    border-color: #80bae4;
    border-radius: 10px;
    /* width: 130px; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
    padding: 10px;
    height: 60px;
    justify-content: space-between;
}

.icon {
    width: 46px;
    height: 40px;
    background-color: transparent;
    /* margin: 8px 25px; */
    /* margin-right: 20px; */
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-grow: 1; */
    height: 100%;
    width: 100%;
    text-align: center;
    /* margin: 15px 0; */
}

.header {
    color: var(--tg-theme-text-color);
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    /* margin: 10% 0%;
    margin-bottom: 5%; */
    /* text-overflow: ellipsis; */
}

.price {
    color: var(--tg-theme-text-color);
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    /* margin: 10% 0; */
}