.root {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #898989;
    border-radius: 10px;
    /* width: 130px; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 12px;
}

.icon {
    width: 46px;
    height: 40px;
    margin: 8px 25px;
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 40px
}

.header {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    /* margin: 10% 0%;
    margin-bottom: 5%; */
}

.price {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 10px;
    font-weight: 600;
    white-space: nowrap;
    /* margin: 10% 0; */
}