.categorylist {
    padding: 0;
    margin: 15px 32px;
    /* display: flex; */
    column-count: 2;
    list-style-type: none;
    /* height: 100%; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 138px 138px; */
    /* gap: 10px */
}