.Category {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--tg-theme-bg-color);
}

.filter {
    margin: 0 16px;
    display: inline-flex;align-items: center;
}

.CategoriesLabel {
    color: var(--tg-theme-text-color);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}


.MixerButton {
    width: 24px;
    height: 20px;
    cursor: pointer;
    transition: color 500ms ease;
    margin-left: 11px;
    color: var(--tg-theme-text-color);
}

.MixerButton:hover {
    color: #dc3d3d;
}

.storeFilter {
    display: flexbox;
    margin: 10px 0;
    margin-bottom: 0;
}

.MainBackground {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: -1;
    height: 63vh;
    width: 50vw;
    opacity: 0.3;
    
    
    background-blend-mode: lighten;
    background-image: radial-gradient(
        ellipse at center top,
        rgb(245.44, 208.21, 152.38) 0%,
        rgb(245.44, 208.21, 152.38) 0.01%,
        rgb(219.94, 40.32, 126.54) 62.25%,
        rgb(109.44, 58.05, 149.81) 100%
      ), url('../../../public/assets/main_background.png');
    background-size: cover;

    /* stroke-opacity: 0.3;
    stroke-width: 50px;
    stroke: white; */

    border: #dc3d3d;
    border-width: 20px;

    /* position: absolute;
    bottom: 20px;
    right: 0;
    z-index: -1;
    height: 63vh;
    width: 50vw;
    opacity: 0.3;
    
    background-blend-mode: lighten;
    background-image: url('../../../public/assets/main_background.svg');
    background-size: cover; */

    /* display: flex; */
    /* top:200px; */

    /* height: 30vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center; */
}