.Category {
    width: 360px;
    height: 640px;
    display: flex;
    flex-direction: column;
}

.filter {
    margin: 0 32px;
    display: inline-flex;align-items: center;
}

.CategoriesLabel {
    color: #000000;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}


.MixerButton {
    width: 24px;
    height: 20px;
    cursor: pointer;
    transition: color 500ms ease;
    margin-left: 11px;
}

.MixerButton:hover {
    color: #dc3d3d;
}

.storeFilter {
    display: flexbox;
    margin: 10px 16px;
    margin-bottom: 0;
}