.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.HeaderLabel {
    color: var(--tg-theme-text-color);
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
}

.VerticalBox {
    display: flex;
    flex-direction: column;
    /* margin: 0 40px; */
}

.VerticalBox * {
    color: var(--tg-theme-text-color);
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    /* white-space: nowrap; */
    margin-bottom: 8px;
}

.HorizontalBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 16px; */
}

.HorizontalBox * {
    color: var(--tg-theme-text-color);
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    margin-bottom: 8px;
}

.ShowButton {
    color: #80bae4;
    font-family: "Inter-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.CloseButton {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: color 500ms ease;
    margin-left: 11px;
    color: #80BAE4;
}

.ConfirmButton {
    background-color: #80bae4;
    border-radius: 5px;

    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    padding: 10px 25px;
    margin: 10px 15%;
}

.NumberBox {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    background-color: #ffffff;
    border: 1px solid;
    border-color: #898989;
    border-radius: 5px;

    /* width: 60%; */
    padding: 5px 10px;
    font-size: 18px;
}

.NumberBox > * {
    font-size: 18px;
    height: 100%;
    white-space: nowrap;
    align-items: center;
    color: #000000;
}

.NumberInput {
    background-color: #ffffff;
    border: transparent;
    border-color: #898989;
    border-radius: 5px;
    outline: none;
    margin: 0;
    padding: 0 4px;
    height: 100%;
    /* padding-left: 4px; */
    align-self: center;
    width: 100%;
}

.Input {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #898989;
    border-radius: 5px;

    /* width: 60%; */
    padding: 5px 10px;
    height: 100%;
    align-self: center;
}

.Select {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #898989;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    color: #000000;
}

.Select > * {
    color: #000000;
}