
.App {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* width: 100vw; */
  height: 100vh;
  /* position: relative; */
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--tg-theme-bg-color);
}

.rectangleHowToUse {
  /* width: 95px;
  height: 95px; */
  /* background-image: radial-gradient(
    ellipse 61.35144503349347px 314.20994204289303px at 32.99998640887112px 36.500004272146874px,
    #6d3a96ff 0%,
    #dc287fff 100%
  ); */
  width: 95px;
  height: 95px;
  background-size: cover;
  border-radius: 10px;
  background: url('../../../public/assets/robot_info.png'), radial-gradient(50% 50% at 50% 50%, rgb(109.44, 58.05, 149.81) 0%, rgb(219.94, 40.32, 126.54) 100%);

}

.rectangleLoyalty {
  width: 95px;
  height: 95px;
  background-size: cover;
  border-radius: 10px;
  background: url('../../../public/assets/pig_info.png'), radial-gradient(80% 80% at 60% 60%, rgb(109.44, 58.05, 149.81) 0%, rgb(128.5, 186.46, 228.44) 80%);
}

.rectangleFAQ {
  width: 95px;
  height: 95px;
  background-size: cover;
  border-radius: 10px;
  background: url('../../../public/assets/qbox_info.png'), radial-gradient(50% 50% at 50% 50%, rgb(183, 42, 111) 0%, rgb(206.47, 168.78, 112.25) 100%);
}

.rectangleCREA {
  width: 95px;
  height: 95px;
  background-size: cover;
  border-radius: 10px;
  background: url('../../../public/assets/creageese_info.png'),  radial-gradient(
    50% 50% at 50% 50%,
    rgb(109.44, 58.05, 149.81) 49.48%,
    rgb(245.44, 208.21, 152.38) 100%,
    rgb(245.44, 208.21, 152.38) 100%
  );
}

.textHowToUse {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
  padding-top: 25%;
  padding-left: 12%;

}

.textLoyalty {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
  padding-top: 33%;
  padding-left: 12%;
}

.textFAQ {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
  padding-top: 33%;
  padding-left: 25%;
}

.TelegramRef {
    /* width: 171.4426px; */
    /* width: var(50vw-16px); */
    height: 100%;
    background-color: #ffffff;
    background: url('../../../public/assets/home_tg.png');
    background-size: 100% 100%;
    border-radius: 10px;
    /* filter: blur(1px); */
    background-size: cover;
    justify-content: center;
}
.ChooseAndOrder {
  /* width: 126px;
  height: 185px; */
  /* width: var(50vw-16px); */
  height: 216px;
  background-color: #ffffff;
  background: url('../../../public/assets/home_order.png');
  background-size: 100% 100%;
  border-radius: 10px;
  /* filter: blur(1px); */
  background-size: cover;
  justify-content: end;
}

.HelpConsultant {
  /* width: 171.4426px; */
  /* width: 46vw; */
  height: 100%;
  background-color: #ffffff;
  background: url('../../../public/assets/home_consultant.png');
  background-size: 100% 100%;
  border-radius: 10px;
  /* filter: blur(1px); */
  background-size: cover;
  justify-content: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #6b6b6b;
  margin: 10px 16px;
  padding: 0;
}

.react-select__indicators, .react-select__indicator  {
  width: 0;
}

.react-select__control {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 8px;
  max-height: 28px;
  min-height: 28px;
  height: 28px;
}

.react-select-container * {
  height: min-content;
}

.react-select__value-container {
  height: min-content;
}

.react-select__placeholder {
  height: min-content;
  font-size: 12px;
}

.react-select__input-container {
  height: 10px;
}

.react-select__input {
  height: min-content;
}

.css-13cymwt-control {
  min-height: 28px;
}