
.App {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* width: 100vw; */
  height: 100vh;
  /* position: relative; */
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--tg-theme-bg-color);
}

.rectangleHowToUse {
  width: 95px;
  height: 95px;
  border-radius: 10px;
  background: url('../../../public/assets/infocards/new/Про робота_white.jpg');
  background-size: contain;
}
.rectangleHowToUseWhite {
  background: url('../../../public/assets/infocards/new/Про робота_white.jpg');
  background-size: contain;
}
.rectangleHowToUseBlack {
  background: url('../../../public/assets/infocards/new/Про робота_black.jpg');
  background-size: contain;
}

.rectanglechatTG {
  width: 95px;
  height: 95px;
  border-radius: 10px;
  background: url('../../../public/assets/infocards/new/Наш чат_white.jpg');
  background-size: contain;
}
.rectanglechatTGWhite {
  background: url('../../../public/assets/infocards/new/Наш чат_white.jpg');
  background-size: contain;
}
.rectanglechatTGBlack {
  background: url('../../../public/assets/infocards/new/Наш чат_black.jpg');
  background-size: contain;
}

.rectangleLoyalty {
  width: 95px;
  height: 95px;
  border-radius: 10px;
  background: url('../../../public/assets/infocards/new/Лояльность_white.jpg');
  background-size: contain;
}
.rectangleLoyaltyWhite {
  background: url('../../../public/assets/infocards/new/Лояльность_white.jpg');
  background-size: contain;
}
.rectangleLoyaltyBlack {
  background: url('../../../public/assets/infocards/new/Лояльность_black.jpg');
  background-size: contain;
}

.rectangleFAQ {
  width: 95px;
  height: 95px;
  border-radius: 10px;
  background: url('../../../public/assets/infocards/new/Вопросы_white.jpg');
  background-size: contain;
}
.rectangleFAQWhite {
  background: url('../../../public/assets/infocards/new/Вопросы_white.jpg');
  background-size: contain;
}
.rectangleFAQBlack {
  background: url('../../../public/assets/infocards/new/Вопросы_black.jpg');
  background-size: contain;
}

.rectangleCallback {
  width: 95px;
  height: 95px;
  border-radius: 10px;
  background: url('../../../public/assets/infocards/new/Обратная связь_white.jpg');
  background-size: contain;
}
.rectangleCallbackWhite {
  background: url('../../../public/assets/infocards/new/Обратная связь_white.jpg');
  background-size: contain;
}
.rectangleCallbackBlack {
  background: url('../../../public/assets/infocards/new/Обратная связь_black.jpg');
  background-size: contain;
}

.rectangleCREA {
  width: 95px;
  height: 95px;
  background-size: contain;
  border-radius: 10px;
  background: url('../../../public/assets/infocards/creageese.svg');
}

.textHowToUse {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
  padding-top: 25%;
  padding-left: 12%;

}

.textLoyalty {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
  padding-top: 33%;
  padding-left: 12%;
}

.textFAQ {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
  padding-top: 33%;
  padding-left: 25%;
}

.TelegramRef {
    /* width: 171.4426px; */
    /* width: var(50vw-16px); */
    height: 100%;
    background-color: #ffffff;
    background: url('../../../public/assets/home_tg_white.jpg');
    background-size: 100% 100%;
    border-radius: 10px;
    /* filter: blur(1px); */
    background-size: cover;
    justify-content: center;
}
.TelegramRefWhite {
  background: url('../../../public/assets/home_tg_white.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.TelegramRefBlack {
  background: url('../../../public/assets/home_tg_black.jpg');
  background-size: cover;
}

.ChooseAndOrderAR {
  aspect-ratio: 180/216;
  grid-row: span 2;
}
.TelegramConsultantAR {
  aspect-ratio: 180/103;
}

.ChooseAndOrder {
  /* width: 126px;
  height: 185px; */
  /* width: var(50vw-16px); */
  height: 100%;
  background-color: #ffffff;
  background: url('../../../public/assets/home_order_white.jpg');
  background-size: 100% 100%;
  border-radius: 10px;
  /* filter: blur(1px); */
  background-size: cover;
  justify-content: end;
}
.ChooseAndOrderWhite {
  background: url('../../../public/assets/home_order_white.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.ChooseAndOrderBlack {
  background: url('../../../public/assets/home_order_black.jpg');
  background-size: cover;
}

.HelpConsultant {
  /* width: 171.4426px; */
  /* width: 46vw; */
  height: 100%;
  background-color: #ffffff;
  background: url('../../../public/assets/home_consultant_white.jpg');
  background-size: 100% 100%;
  border-radius: 10px;
  /* filter: blur(1px); */
  background-size: cover;
  justify-content: center;
}
.HelpConsultantWhite {
  background: url('../../../public/assets/home_consultant_white.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.HelpConsultantBlack {
  background: url('../../../public/assets/home_consultant_black.jpg');
  background-size: cover;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #6b6b6b;
  margin: 10px 16px;
  padding: 0;
}

.react-select__indicators, .react-select__indicator  {
  width: 0;
}

.react-select__control {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 8px;
  max-height: 28px;
  min-height: 28px;
  height: 28px;
}

.react-select-container * {
  height: fit-content;
}

.react-select__value-container {
  height: fit-content;
  width: 100%;
  height: 100%;
}

.react-select__placeholder {
  /* height: fit-content; */
  /* width: 100%;
  height: 100%; */
  height: 1.6rem;
  font-size: 12px;
}

.react-select__input-container {
  /* height: 10px; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 0;
}

.react-select__input {
  height: fit-content;
  width: 100%;
  height: 100%;
  text-align: center;
}

.css-13cymwt-control {
  min-height: 14px;
  width: 100%;
  height: 100%;
}

.searchbox {
  /* background-color: #ffffff; */
  border: 1px solid;
  border-color: #000000;
  border-radius: 8px;
  max-height: 28px;
  min-height: 28px;
  height: 28px;
  width: 100%;
}

.dropdown * {
  max-height: 28px;
  height: 28px;
  top: 0;
  width: 100%;
}

.input-box {
  border-radius: 12px;
}

.search-list {
  height: 80vh;
}

.search-list * {
  max-height: 20px;
  line-height: 10px;
  padding: 0;
  margin: 0;
}

.search-list--item  {
  max-height: 20px;
  min-height: 20px;
  height: 20px;
  padding: 0 0;
}

.search-list--item * {
  max-height: 20px;
  min-height: 20px;
  height: 20px;
}
.active {
  max-height: 20px;
  min-height: 20px;
  height: 20px;
}