.root {
    display: flex;
    margin: 23px 16px;
    justify-content: space-between;
    text-decoration: none;
}

.icon {
    width: 27px;
    height: 22px;
    stroke: var(--tg-theme-text-color);
}

.textPrev {
    color: var(--tg-theme-hint-color);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.textCurrent {
    color: var(--tg-theme-text-color);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}