.root {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.Header {
    display: flex;
    justify-content: space-between;
    color: var(--tg-theme-text-color);
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 15px;
}

.orderHistoryRef {
    text-decoration: none;
    color: var(--tg-theme-link-color);
}

.orderList {
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
    /* justify-content: center; */
}