.root {
    display: flex;
    align-items: center;
    /* width: 90%; */
    height: 28px;
    /* outline: solid 1px #000;
    outline-offset: -1px; */
    border-radius: 8px;
    background-color: #fff;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 15px;

    border: 1px solid;
    border-color: #000000;
    border-radius: 8px;
}

.SearchIcon {
    width: 20px;
    height: 28px;
    margin-left: 8px;
}

.SearchText {
    color: #898989;
    font-family: "Inter-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    padding-left: 8px;
}