.root {
    /* display: flex;
    align-items: center; */
    /* height: 28px;
    border-radius: 8px;
    background-color: #fff; */
    /* margin-left: 16px;
    margin-right: 16px; */
    margin-bottom: 15px;

    /* border: 1px solid;
    border-color: #000000;
    border-radius: 8px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.SearchIcon {
    width: 20px;
    height: 28px;
    margin-left: 8px;
}
/* 
.root > * {
    color: #898989;
    font-family: "Inter-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
} */



/* .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  .dropdowncontainer {
    width: 80%;
  }