.root {
    display: flex;
    margin: 23px 16px;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
    stroke: var(--tg-theme-text-color);
}

.Cart {
    color: var(--tg-theme-text-color);
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 16px;
}

.ClearButton {
    color: var(--tg-theme-link-color);
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}