.infocardlist {
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    margin: 0 0;
    gap: 16px;
    overflow-x: visible;
    /* overflow-y: visible; */
    /* width: 100%; */
    height: 95px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.infocardlist::-webkit-scrollbar {
    display: none;
  }

.infocardlist li {
    float: left;
    width: 95px;
    height: 95px;
}

li InfoCard {
    display: block;
}